%p
  Hello World !!
  %br
  Here is simple base application

= form_for @url, :url => short_urls_path, method: 'post', html: {class: 'form-horizontal'} do |f|
  %fieldset
    %legend
      Mark your Url with Beatiful Shorten Url

    .control-group
      = f.label :url, 'Input URL', class: 'control-label'
      .controls
        = f.text_field :url, class: 'input-xlarge'

    .form-actions
      = submit_tag "Submit", class: 'btn btn-primary'